.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: aqua;
    background-color: darkgrey;
}
#camera {
    height: 400px;
    width: 500px;
    box-shadow: 0 6px 8px 0 rgba(2,2,2,0.2);
    border-color: aqua;
}
#result1:hover {
    border-radius: 140px;
}
#img1,#img2,#img3 {
    height: 250px ;
}